.main {
  padding: 0 50px 50px 50px;
}

.main__title {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 70px;
}

.main__filters {
  display: flex;
  margin-bottom: 20px;
  padding-left: 20px;
}
.main__filters button {
  color: #788585;
  background-color: #c4c5c1;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main__filters button:hover {
  opacity: 0.8;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main__column-button {
  margin-right: 10px;
}

.main__error-text,
.main__loading-text {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px;
}