@import '../../styles/constants.scss';

.main {
  @include sectionPadding(0, 50px);
}

.main__title {
  @include title($h1Size, $h1Weight, $h1MarginBottom);
}

.main__filters {
  display: flex;
  margin-bottom: 20px;
  padding-left: 20px;
  button {
    @include button($headerGrey, $backgroundDark, 70px);
  }
}

.main__column-button {
  margin-right: 10px;
}

.main__error-text,
.main__loading-text {
  @include title($h3Size, $h3Weight, $h3MarginBottom);
}
