@import '../../styles/constants.scss';

.favourites {
  @include sectionPadding(0, 50px);
}

.favourites__title {
  @include title($h1Size, $h1Weight, $h1MarginBottom);
}

.favourites__no-fav-text {
  text-align: center;
  opacity: 0.4;
  font-size: 30px;
  font-weight: 400;
}
