@import '../../styles/constants.scss';

.cart {
  @include sectionPadding(0, 50px);
}

.cart__title {
  @include title($h1Size, $h1Weight, $h1MarginBottom);
}

.cart__no-items-text {
  text-align: center;
  opacity: 0.4;
  font-size: 30px;
  font-weight: 400;
}

.cart__total-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 30px;
}

.cart__total {
  font-size: 23px;
  color: $brownMid;
}

.cart__place-order-button {
  @include button($brownMid, #fff, 30%);
  font-weight: 200;
}
