// Colors
$backgroundLight: #ccdad1ff;
$backgroundMain: #9caea9ff;
$backgroundDark: #788585ff;

$brownLight: #6f6866ff;
$brownMid: #38302eff;
$brownDark: #282828;

$headerGrey: #c4c5c1;
$textColorMain: #fff;

// Sections Paddings & Margins
@mixin sectionPadding($top, $bottom) {
  padding: $top 50px $bottom 50px;
}

$sectionMargin: 80px;

// Hovers

@mixin textHover($opacity, $transform) {
  &:hover {
    opacity: $opacity;
    transform: translateY($transform);
  }
}

@mixin hoverTransition($dur) {
  transition: all $dur ease;
}

// Titles

@mixin title($size, $weight, $bottom) {
  text-align: center;
  font-size: $size;
  font-weight: $weight;
  margin-bottom: $bottom;
}

$h1Size: 40px;
$h1Weight: 100;
$h1MarginBottom: 70px;

$h3Size: 18px;
$h3Weight: 200;
$h3MarginBottom: 20px;

// Button

@mixin button($background, $color, $width) {
  color: $color;
  background-color: $background;
  width: $width;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  @include textHover(0.8, 0);
  @include hoverTransition(0.3s);
}
