// Colors
$backgroundLight: #ccdad1ff;
$backgroundMain: #9caea9ff;
$backgroundDark: #788585ff;

$brownLight: #6f6866ff;
$brownMid: #38302eff;
$brownDark: #282828;

$textColorMain: #fff;

// Sections Paddings & Margins
@mixin sectionPadding($top, $bottom) {
  padding: $top 50px $bottom 50px;
}

$sectionMargin: 60px;

// Hovers

@mixin textHover($opacity, $transform) {
  &:hover {
    opacity: $opacity;
    transform: translateY($transform);
  }
}

@mixin hoverTransition($dur) {
  transition: all $dur ease;
}

// Titles

@mixin title($size, $weight) {
  text-align: center;
  font-size: $size;
  font-weight: $weight;
}

$h1Size: 40px;
$h1Weight: 200;
