body {
  box-sizing: border-box;
  background-color: #9caea9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1em;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.app {
  max-width: 1440px;
  color: #fff;
  font-size: 18px;
  font-family: "Geologica", sans-serif;
  font-weight: 300;
}