@import '../../styles/constants.scss';

.footer {
  min-height: 200px;
  background-color: $brownMid;
  color: #fff;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  @include sectionPadding(50px, 30px);
}

.footer__title {
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer__link {
  display: block;
  margin-bottom: 30px;
}

.footer__link:hover {
  transform: none;
}

.footer__author {
  margin-top: auto;
  font-weight: 100;
  font-size: 16px;
}

.footer__techs-item {
  margin-bottom: 10px;
}

.footer__tech-link {
  display: flex;
}

.footer__tech-link:hover {
  transform: none;
}

.footer__tech-icon {
  width: 1em;
  margin-right: 5px;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer__tech-icon_type_react {
  background-image: url('../../images/icons/react.svg');
  animation: rotation linear 12s infinite;
}

.footer__tech-icon_type_redux {
  background-image: url('../../images/icons/redux.svg');
}

.footer__tech-icon_type_typescript {
  background-image: url('../../images/icons/typescript-icon.svg');
}
.footer__tech-icon_type_sass {
  background-image: url('../../images/icons/sass.svg');
}
.footer__tech-icon_type_react-icons {
  background-image: url('../../images/icons/react-icons.svg');
  animation: rotation linear 9s infinite;
}
