@import '../../styles/constants.scss';

.book {
  border-radius: 50px;
  background-color: $headerGrey;
  max-width: 250px;
}

.book_layout_row {
  display: flex;
  width: 80%;
  max-width: 100%;
}

.book__image {
  width: 100%;
}

.book__image_layout_row {
  width: 25%;
}

.book__info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.book__info-container_layout_row {
  width: 50%;
}

.book__info {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 15px;
}

.book__title {
  @include title($h3Size, $h3Weight, $h3MarginBottom);
  color: $brownMid;
  min-height: calc($h3Size * 3);
}

.book__price {
  background-color: $brownMid;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 200;
}

.book__buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 25px;
}

.book__cart-button {
  @include button($backgroundDark, #fff, 60%);
}

.book__favourite-button {
  @include button($backgroundDark, #fff, 30%);
}
